.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 0px;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.hidden{
  display: none;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 940px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.mainContainer{
  min-width: 900px;
  width: 900px;
  margin: 0 auto;
}

.selectboxWrapper{
  height: 40px;
  padding: 5px 5px 5px 0px;
  margin: 10px 0px;
}

.h4{
  padding: 15px;
}
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

path { 
    stroke: #72C4F0;
    stroke-width: 2;
    fill: none;
}

.chartWrapper{
  padding: 5px;
  border :1px solid #eee;
}
.tooltip{
  opacity: 1 !important;
}

.form-horizontal {
    width:500px;
}

.datetime-picker-dropdown {

}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.time-picker-menu div > table {

}

.date-label{
  top:5px;
}

.date-picker-form{
  text-align: center;
}


.btn:focus{
  outline: none;
}

.margin0{
  margin: 0px;
}

.margin-b20 {
  margin-bottom: 20px;
}
